body {
background-color:#267;
color:#fff;
font-family: Arial, sans-serif;
text-align:center;
}
h1{
    color: #ff9900;
    font-size: 50px;
    }
    img{
border-radius: 20px;
border:5px solid #ff9900
    }